{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <li><a href="{% url 'signup'%}?next={{request.path}}">Signup</a></li>
    <li><a href="{% url 'password_reset'%}">Forgot Password?</a></li>
    <h2>Home</h2>
    {% if user.is_authenticated %}
        <p>{{user.username}}, you are welcome on the Home Page</p>
        <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
        <p>Your email is - {{user.email}}</p>
        <a href="{% url 'image_repo' %}">Upload Images</a>

    {% endif %}
{% endblock content %}