{% extends 'base.html' %}
{% block content %}
<!--{% load static %}-->
    <h1>Image Upload</h1>
    <div class="container">

        <form action="." method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>

        {% if image_object %}
            <h3>Successfully uploaded : {{image_object.caption}}</h3>
            <img src="{{ image_object.images.url}}"  height="50%" width="50%"  alt="image" class="img-thumbnail"  >
        {% endif %}
        <hr>

        {% for image in all_images %}
            {% if forloop.first %}<div class="row ">{% endif %}
                <div class="col-lg-4 col-md-4 col-12" >
                    <div class="text-center mt-2">
                        <img src="{{image.images.url}}"  height="20%" width="20%" class="img-thumbnail" alt="...">
                        <h2 class="text-center" >{{image.caption}}</h2></div>
                        <h2 class="text-center" >{{image.current_user}}</h2></div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}<div class=row>{% endif %}
                    </div>
                {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}