{% extends 'base.html' %}
{% block content %}
<!--{% load static %}-->
    <h1>Image Upload</h1>
    <div class="container">
        <form action="." method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>

        {% if image_object %}
            <h3>Successfully uploaded : {{image_object.caption}}</h3>
            <img src="{{ image_object.images.url}}"  height="50%" width="50%"  alt="image" class="img-thumbnail"  >
        {% endif %}
        {% for image in all_images %}
            {% if forloop.first %}<div class="row ">{% endif %}
                <div class="col-lg-4 col-md-4 col-12" >
                    <div class="text-center mt-2">
                        <img src="{{image.images.url}}"  height="50%" width="50%" class="img-thumbnail" alt="...">
                        <p style="text-align: center" >{{image.caption}}<br>{{image.current_user}}</p>
                        <form method="post"  action="{% url 'delete' %}">
                            {{ form.image.images.url }}
                            {{ form.username }}
                            <input type="submit" value="delete" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                        <button type="submit" class="btn btn-sm btn-success">Delete</button>

                    </div>
                </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class=row>{% endif %}

            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}